<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.web.repository.FileRepository">

    <insert id="saveFile" parameterType="com.life.web.vo.FileVo">
        INSERT INTO file_upload (
            userId,
            original_name,
            save_name,
            delete_yn,
            regDt
        ) values (
             #{userId},
             #{originalName},
             #{saveName},
             0,
             #{regDt}
        )
    </insert>
</mapper>