<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.web.repository.LoginRepository">
    <select id="login" parameterType="com.life.web.vo.LoginVo" resultType="com.life.web.vo.LoginVo">
        SELECT userNo
        , userId
        , userPw
        , refreshToken
        FROM life_user
        WHERE 1=1
        AND userId = #{userId}
    </select>

    <!-- 리프레시 토큰 유저테이블에 저장-->
    <update id="refreshTokenUserSave">
        UPDATE life_user
        SET refreshToken = #{refreshToken}
        WHERE userNo = #{userNo}
    </update>
</mapper>